.nav-link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

.nav-item .logo {
  display: none;
}

.nav-item .bars {
  display: none;
}

.container-fluid {
  background: url(./icons/header-llustration-desktop.png) no-repeat;
  background-size: contain;
}

.headline {
  padding: 13% 0;
}

.heading {
  font-family: 'Inter', serif, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin: 24px 0;
  padding: 0;
}

.black {
  color: #344563;
}

.green {
  color: #277f5a;
}

.headline_text {
  padding: 0 22%;
  font-family: 'Inter', serif, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.socials li {
  list-style-type: none;
  margin: 24px;
}

.angle-down img {
  padding: 58px 0;
}

.about-header {
  background:
    url(./icons/frame-desktop.png) top right no-repeat,
    url(./icons/illustration-about-me-2-desktop.png) bottom left no-repeat;
}

.about-header h4 {
  padding: 5% 29%;
  font-family: 'Inter', serif, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.btn {
  border: 0;
  color: #fff;
}

.btn:hover {
  border: solid 2px #277f5a;
}

.btn:active {
  transform: translateY(4px);
}

.about-card {
  background-color: #ebf0ee;
  height: 360px;
  margin: 30% 0;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.card-img-top {
  height: 170px;
}

.about-card .list-group li {
  font-family: 'Inter', serif, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #257456;
  margin: 2px;
  background-color: #fff;
}

.contact-section {
  background:
    url(./icons/frame2.png) no-repeat,
    url(./icons/illustration-2-contact-form-desktop.png)  bottom no-repeat,
    url(./icons/frame-contact.png) left bottom no-repeat;
  background-size: 316px 450px, 130px 105px, 236px 261.09px;
  background-position: right bottom, 20% bottom, left bottom;
  padding: 0 50px 280px 0;
}

.contact-form {
  margin: 12px 0;
}

.contact-form input,
textarea {
  width: 100%;
}

.mailto {
  display: none;
}
