.nav-link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

.container {
  background: url(./icons/header-llustration-desktop.png) no-repeat;
  background-size: contain;
}

.headline {
  padding: 160px 0;
}

.heading {
  font-family: 'Inter', serif, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin: 24px 0;
  padding: 0;
}

.black {
  color: #344563;
}

.green {
  color: #277f5a;
}

.socials li {
  list-style-type: none;
  margin: 24px;
}

.angle-down {
  order: 3;
  flex-grow: 0;
  margin: 58px 0;
}
.project-image-div {
  display: flex;
  padding: 16px;
  height: 222px;
  background-color: #ebf0ee;
}
.recent-work .badge{
  font-family: 'Inter', serif, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #257456;
  margin: 2px;
  background-color: #ebf0ee;

}
.btn-div{
  margin-bottom: 10px;
}