.nav-link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

.nav-item .logo {
  display: none;
}

.nav-item .bars {
  display: none;
}

.container {
  background: url(./icons/header-llustration-desktop.png) no-repeat;
  background-size: contain;
}

.headline {
  padding: 13% 0;
}

.heading {
  font-family: 'Inter', serif, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin: 24px 0;
  padding: 0;
}

.black {
  color: #344563;
}

.green {
  color: #277f5a;
}

.headline_text {
  padding: 0 22%;
  font-family: 'Inter', serif, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.socials li {
  list-style-type: none;
  margin: 24px;
}

.angle-down img {
  padding: 58px 0;
}

@media screen and (max-width: 768px) {
  body {
    background-color: palegreen;
  }

  .port-nav {
    display: none;
  }

  .about-nav {
    display: none;
  }

  .contact-nav {
    display: none;
  }

  #hr {
    display: none;
  }
}